@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fraunces:500,700");
body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}
main {
  background-color: hsl(0, 0%, 100%);
  width: 20.5rem;
  height: 40rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
.text-part {
  padding-left: 16px;
  padding-right: 16px;
}
#p-head {
  letter-spacing: 5px;
  font-family: Montserrat;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  color: gray;
}
h2 {
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 16px;
}
#info {
  font-family: Montserrat;
  font-size: 14px;
  color: grey;
}
#price {
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: hsl(158, 36%, 37%);
}
.crossed-price {
  text-decoration-line: line-through;
  font-family: Montserrat;
  font-size: 10px;
  color: gray;
}
button {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  color: white;
  height: 3em;
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
}
button:hover {
  background-color: hsl(158, 58%, 21%);
}

/* for desktop */
@media (max-width: 1440px) {
  main {
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 25rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  img {
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    margin: 0;
  }
  .text-part {
    padding-top: 18px;
    font-size: 12px;
  }
  h2 {
    margin-top: 1rem;
  }
  #info {
    font-family: Montserrat;
    font-size: 13px;
    color: grey;
  }
}

/*for mobile*/

@media (max-width: 375px) {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10;
    margin: 0;
  }
  main {
    background-color: hsl(0, 0%, 100%);
    width: 20.5rem;
    height: 38rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .text-part {
    padding-left: 16px;
    padding-right: 16px;
  }
}
